/* CSs para el drop dowm menu personalizado */
:root {
    --bgColorOption: orangered;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-container {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}



.dropdown-trigger {
    display: flex;
    /* border: 1px solid red; */

}

.dropdown-trigger button {
    width: 100%;
    border: none;
    background-color: inherit;
    padding: 2px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.arrowdown {
    display: block;
    transition: transform 0.35s ease-in;
}

.arrowdown-rotate {
    transform: rotate(180deg);
}


.dropdown-optionslist {
    border: 1px solid var(--bgColorOption);
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 10px;
    display: none;
    opacity: 0;
    background-color: white;
    z-index: 0;
    border-radius: 4px;
}

.dropdown-optionslist.activate {
    transition: display 0.55s ease allow-discrete;
    display: block;
    opacity: 1;
    z-index: 10;
}

.dropdown-option {
    /* background-color: red; */
    padding: 1px 5px;
    cursor: pointer;
    margin: 1px 0px;
    display: grid;
    flex: 1;
}

.dropdown-option:hover,
.dropdown-option:focus {
    background-color: var(--bgColorOption);
}